body{
background-color: rgb(24, 22, 22);
font-family: 'Montserrat',sans-serif;
}

/* tamaño y posición de la imagen*/
.octo{
  width: 150px;
  margin-right: 50px;
}

/* caja donde se encuentra la imágen*/
.cajaocto{
  margin-top: 250px;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cajagit{
    margin-top: -30px;
}

.progra{
  color: rgb(63, 64, 62);
  background: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 5px;
  width: 190px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

#bold{
  font-weight: bold;
}
.txt1 , .txt2 , .button{
  margin-top: -50px;
}

.txt1{
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.txt2{
  font-size: 50px;
  font-style: bolder;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}


/*configuración del botón*/
.button{
  text-align: center;
  background: rgb(73, 207, 115);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 160px;
  box-shadow: rgb(28, 62, 40) 0px 3px;
  border: 0px;
}

.button:hover{
  background-color: rgb(222, 81, 43);
}

.button:active{
  background-color: rgb(51, 135, 245);
}
