*{
  margin: 0px;
  padding: 0px;
}

body{
background-color: rgb(24, 22, 22);
font-family: 'Montserrat',sans-serif;
}

/* tamaño y posición de la imagen*/
.octo{
  width: 150px;
  margin-right: 50px;
}

/* caja donde se encuentra la imágen*/
.cajaocto{
  margin-top: 250px;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progra{
  color: rgb(40, 40, 40);
  background: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 5px;
  width: 190px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#bold{
  font-weight: bold;
}
.txt1 , .txt2 , .button{
  margin-top: -10px;
}

.txt1{
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.txt2{
  font-size: 50px;
  font-style: bolder;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.whogit_hub{
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.txtgit{
  margin-left: 82px;
}

.txtgit h3{
  text-align: center;
}

.wgit{
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: white;
  float: left;
  font-size: 15px;
  color: rgb(255, 255, 255);
  width: 22em;
  text-align: justify;
  margin: 10px;
}

/*configuración del botón*/
.button{
  text-align: center;
  background: rgb(73, 207, 115);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 160px;
  box-shadow: rgb(28, 62, 40) 0px 3px;
  border: 0px;
  padding: 3px;
}

.button:hover{
  background-color: rgb(222, 81, 43);
  transition: 300ms;
}

.button:active{
  background-color: rgb(51, 135, 245);
}

/*configuración del header*/
#headermain{
  width: 100%;
  height: 40px;
  position: top;
  background: rgb(40, 40, 40);
  text-align: center;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: rgb(73, 207, 115);
}

#headerinicio{
  width: 100%;
  height: 40px;
  position: fixed;
  background: rgb(40, 40, 40);
  text-align: center;
  margin-top: -100px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: rgb(73, 207, 115);
}

#menutop{
  border: 2px;
  border-color: rgb(246, 246, 246);
}

#check{
  display: none;
}

#check:checked ~ .menu{
  width: 200px;
  border-right-color: rgb(255, 255, 255);
}

.menu{
  position: fixed;
  top: 43px;
  width: 0px;
  height: 100vh;
  background: rgb(40, 40, 40);
  transition: all 500ms cubic-bezier(1,0,0,1);
  transition-timing-function: cubic-bezier(1,0,0,1);
  overflow: hidden;
  font-size: 15px;
}

.menu li{
  list-style: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 400px;
}

.menu li:hover{
  background: rgba(0, 0, 0, 0.5);
  border-right-color: white;
}

#toggle{
  margin-right: 10px;
}
/* etiqueta menú */
label{
  text-align: center;
  position: fixed;
  width: 15%;
  height: 5%;
  top: 14px;
  font-size: 18px;
  text-align: left;
  color: white;
  cursor: pointer;
  z-index: 10;
  margin-left: 20px;
  margin-top: -4px;
 }

 /* label:hover{
   font-size: 20px;
 } */

 label:active{
   color: rgb(73, 207, 115);
 }

 #start{
   border-bottom: 2px;
   border-bottom-color: white;
 }

 #down{
   border-top: 2px;
   border-top-color: white;
 }
/* etiqueta progra web*/
.titlepw{
  list-style: none;
  position: fixed;
  width: 100%;
  max-width: 1000px,
  top: 14px;
  font-size: 18px;
  text-align: right;
  color: white;
  margin-top: -30px;
  margin-left: -20px;
}

/*progr web de la pagina inicio*/
.titlepwinicio{
  list-style: none;
  position: fixed;
  width: 100%;
  max-width: 1000px,
  top: 14px;
  font-size: 18px;
  text-align: right;
  color: white;
  margin-top: -90px;
  margin-left: -20px;
}

#gitlog{
  width: 30px;
  padding-top: 5px;
}


a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:active{
  text-decoration: none;
  color: rgb(73, 207, 115);
}
/*articulo*/
.cajavideo{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vid{
  border-style: solid ;
  border-color: rgb(251, 254, 249);
  border-radius: 10px;
  background-color:rgb(40, 40, 40);
  width: 922px;
  padding: 10px;
}
